<html>
    <head>
         <link rel="stylesheet" href="styles.css" type="text/css">
        <link rel="stylesheet" href="postcreate.css" type="text/css">
        
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="myscript.js"></script>
        
        <link rel="icon" href="sprites/icon.png">
        <title>
            DoggyMate
        </title>
    </head>
    <body>
        <header>
            {{>header}}
        </header>

        <section class="container">
            <div class="content">
                <div class="title">About Us</div>
                <br>

                <div class="divider d1"></div>

                <div class="title center">The Developaws</div>
                <div class="homesection divide">
                    <div class="hsec hleft">
                        <img src="https://scontent.fmnl3-2.fna.fbcdn.net/v/t1.0-9/22514_835750436506927_7039277993529852043_n.jpg?_nc_cat=105&_nc_sid=09cbfe&_nc_eui2=AeF0ahR6esFLePFSltLqHQ-54YVLJF-pfk3hhUskX6l-TQyM21D_nPfcsEGZKnUlYUI&_nc_ohc=a4PP5MDszhIAX867szc&_nc_oc=AQlnMRXhbbhA4Wxfj4OqgRrY014wZjbi3pgZ-tv1nx0YgeYCnjxglBKZ11NFsvLlIHE&_nc_ht=scontent.fmnl3-2.fna&oh=8d1a1986b249bda297bb15f8b5a5a4a3&oe=5F8F160A">
                        <div class="heading">Francis De Vera</div>
                    </div>
                    <div class="hsec hmid">
                        <img src="https://scontent.fmnl3-1.fna.fbcdn.net/v/t1.0-9/87549114_10213774822239876_945339597682900992_o.jpg?_nc_cat=106&_nc_sid=09cbfe&_nc_eui2=AeExmAZI4hCHw21Out1j48ZZ5Fn7bbd5_G7kWfttt3n8bpWUo1Foca4Pme__NBpFitE&_nc_ohc=TG20fzvQxwsAX-8lGiX&_nc_ht=scontent.fmnl3-1.fna&oh=23a2f511e7ab14e20799d9c1a69cf108&oe=5F8F1B0E">
                        <div class="heading">Reena Riguera</div>
                    </div>
                    <div class="hsec hright">
                        <img src="https://scontent.fmnl3-1.fna.fbcdn.net/v/t1.0-9/87260566_10218785641645841_2727896345741361152_n.jpg?_nc_cat=103&_nc_sid=09cbfe&_nc_eui2=AeEFyVw1T8kqiTiq8dAk5AxAV0YUQMvrqTVXRhRAy-upNe3nPpqxs6Xno7IuY_eEKOg&_nc_ohc=6LrhPjjN2BYAX-mtdKa&_nc_ht=scontent.fmnl3-1.fna&oh=442a5a83b71f51d24e5ce2d019ffae8c&oe=5F8FA909">
                        <div class="heading">Sienna Sesbreno</div>
                    </div>
                </div>

                <div class="aboutdesc">We are the developers of <span class="underline">Team Caldo</span> and we created the DoggyMate website as a machine project for our applications development (CCAPDEV) subject for Term 3 of AY2019-2020. DoggyMate is a website that is made for pawrents all around the world to be able to let their dogs form new bonds with other dogs as they take walks in the parks, swim in pools or beaches, and more.</div>

                <div class="divider d1"></div>

                <div class="title center">NPM Package List</div>
                <div class="npmlist">
                    <a class="reqlink" href="https://www.npmjs.com/package/express">express</a> •
                    <a class="reqlink" href="https://www.npmjs.com/package/express-session">express-session</a> •
                    <a class="reqlink" href="https://www.npmjs.com/package/body-parser">body-parser</a> •
                    <a class="reqlink" href="https://www.npmjs.com/package/cookie-parser">cookie-parser</a> •
                    <a class="reqlink" href="https://www.npmjs.com/package/path">path</a> •
                    <a class="reqlink" href="https://www.npmjs.com/package/hbs">hbs</a> •
                    <a class="reqlink" href="https://www.npmjs.com/package/mongoose">mongoose</a> •
                    <a class="reqlink" href="https://momentjs.com/">moment</a> •
                    <a class="reqlink" href="https://www.npmjs.com/package/multer">multer</a> •
                    <a class="reqlink" href="https://nodejs.org/api/fs.html">fs</a> •
                    <a class="reqlink" href="https://nodejs.org/api/crypto.html">crypto</a>
                </div>
            </div>
        </section>

        <footer>
            {{>footer}}
        </footer>
    </body>
</html>