<html>
    <head>
        <link rel="stylesheet" href="postcreate.css" type="text/css">
        <link rel="stylesheet" href="styles.css" type="text/css">
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="myscript.js"></script>
        
        <link rel="icon" href="sprites/icon.png">
        <title>
            DoggyMate
        </title>
    </head>

    <body>
        <header>
            {{>header}}
        </header>

        <section class="smallestcontainer">
            <div class="content">
                <div class="title">Log in</div>
                <br><br>

                {{#if error}}
                <div class="centererror">
                    <div class="error">{{error}}</div>
                </div>
                {{/if}}
                <br>
                
                <form method="POST" action="signin">
                    Username{{#if error}}<span class="rederr">*</span>{{/if}}<input type="text" class="postinput" name="username" placeholder="Username"><br>
                    Password{{#if error}}<span class="rederr">*</span>{{/if}}<input type="password" class="postinput" name="password" placeholder="Password"><br>
                    <div class="postbuttons centererror">
                        <a href="/register" class="button bpurple">Sign up</a>
                        <input type="submit" class="button bblue" value="Log in">
                    </div><br>
                    <div class="centererror">
                        <a href="/" class="reqlink">Continue as Guest</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>